<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demineur">

    <application
        android:name=".model.ExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demineur">

        <activity
            android:name=".controller.GameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".controller.HighScoreActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".controller.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>